@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TALLER NÚMERO 3</h1>
    <p class="lead">
        DESARROLLADO POR: <br />
        1.- DARWIN ESTIVEN DIAZ ESPINOSA - DAVID ANDRES ALAVEAR GOMEZ<br />
        2.- FREDILTON DANIEL GETIAL TORREZ - NIXON LUBIER BENAVIDES PAUCARA<br />
        3.- VICTOR DANILO CHACON CIMBAÑA - DANIEL SEBASTIAN PEREZ VALLEJO<br />
        4.- ANGELA KARINA CERON BENAVIDES - VICTOR ALFONSO DELGADO BOLAÑOS<br />
        5.- JOSE DANIEL CHACON BOLAÑOS - AYMAR EDUARDO REINA SANCHEZ <br />
    </p>
    <p><a href="/Usuario" class="btn btn-primary btn-lg">Actividad 3 CRUD &raquo;</a></p>
</div>

