@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TALLER NÚMERO 3</h1>
    <p class="lead">DESARROLLADO POR: <br />
    ANGELA KARINA CERON BENAVIDES - VICTOR ALFONSO DELGADO BOLAÑOS<br />
    FREDILTON DANIEL GETIAL TORREZ - DANIEL SEBASTIAN PEREZ VALLEJO<br />
    DARWIN ESTIVEN DIAZ ESPINOSA - DAVID ANDRES ALAVEAR GOMEZ<br />
    VICTOR DANILO CHACON CIMBAÑA - NIXON LUBIER BENAVIDES PAUCARA<br />
    ......
    </p>
    <p><a href="/Usuario" class="btn btn-primary btn-lg">Actividad 3 CRUD &raquo;</a></p>
</div>

